i.icon {
    font-size: 1.6em;
}

.container.main {
    margin-top: 7em;
}

.textCenter {
    text-align: center;
    text-indent: 3em;
}

.blogContent {
    text-align: justify;
    text-indent: 3em;
}

.fullWidth {
    width: 100%;
}
