i.icon {
    font-size: 1.6em;
}

.container.main {
    margin-top: 7em;
}

.textCenter {
    text-align: center;
}

.blogContent {
    text-align: justify;
    text-indent: 3em;
}

.fullWidth {
    width: 100%;
}

.errorDiv {
    margin-bottom: 15px;
}

#errorMessage {
    color: red;
    font-size: 1.2em;
}